<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>dev.rootstock.blue.es</string>
	<key>CFBundleName</key>
	<string>RootstockBlueES</string>
	<key>CFBundlePackageType</key>
	<string>SYSX</string>
	<key>CFBundleShortVersionString</key>
	<string>0.4.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSSystemExtensionUsageDescription</key>
	<string>RootstockBlue Endpoint Security extension collects process and file telemetry for incident response. Monitor mode only by default.</string>
</dict>
</plist>
